@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .navbar {
    @apply absolute;
    @apply w-full;
    @apply justify-evenly;
    @apply h-[10vh];
    @apply text-xs;
    @apply bg-blue-500;
    @apply grid;
    @apply grid-cols-[1fr_repeat(3,10%)];
    @apply text-center;
    @apply text-3xl;
    /* @apply flex; */
    @apply justify-evenly;
    @apply items-center;
    @apply gap-x-8;
    @apply pr-24;
  }
  .navbar > * {
    @apply text-white;
    @apply bg-white;
    @apply text-blue-500;
    @apply mt-[2vh];
    @apply h-[8vh];
    @apply rounded-t-xl;
    @apply text-center;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply w-[10vw];
  }
  .navbar .title {
    @apply w-full;
    @apply bg-blue-500;
    @apply text-white;
    @apply font-semibold;
    @apply tracking-widest;
    @apply uppercase;
    @apply text-4xl;
  }
  .content {
    padding-top: 250px;
    @apply flex;
    @apply h-[90vh];
    padding-left: 90px;
  }
  
  .content > * {
    font-size: 50px;
  }

  .content > * > form{
    padding-bottom: 60px;
  }

  .content > * > .item {
    border: 1px solid #333;
    border-radius: 30px;
    margin-left: 25%;
    width: 65%;
    @apply shadow-xl;
  }

  .create-batch{
    display: inline-block;
    margin-left: -3%;
  }

  .view-batch{
    display: inline-block;
  }

  .name-space{
    display: inline-block;
    width: 350px;
  }

  .content > div > h1 {
    padding-left: 40px;
    font-weight: 700;
  }

  .content > div > div > div > .n0 {
    width: 330px;
    display: inline-block;
  }

  .content > div > div > div > .n1 {
    width: 330px;
    display: inline-block;
  }

  .content > div > div > div > div > .n3 {
    width: 330px;
    display: inline-block;
  }

  .content > div > div > div > div{
    display: inline-flex;
  }


  .content > div > form > input {
    width: 1200px
  }



  .content > div > form > button {
    @apply shadow-xl;
    background-color: #ced4da;
    margin-left: 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: .5px solid rgb(0, 0, 0, 30%);
}

  .content > div > form > button:hover{
    color: #fff;
    background-color: rgba(19, 59, 123, 0.5);
  }

  .content > * > * {
    padding: 10px;
  }

  .content > * > * > * {
    padding: 10px 30px;
  }

  .Connect {
    @apply bg-blue-500;
    @apply w-[60vw];
    @apply h-[50vh];
    @apply rounded-xl;
    @apply border-2;
    @apply shadow-xl;
    @apply grid;
    @apply grid-rows-2;
    @apply p-20;
    @apply items-center;
    @apply justify-center;
    margin-left: 400px;
  }
  .Connect h1 {
    @apply text-3xl;
    @apply tracking-widest;
    @apply text-gray-100;
  }
  .Connect button {
    @apply rounded-md;
    @apply shadow-xl;
    @apply h-[10vh];
    @apply bg-white;
    @apply text-blue-700;
    @apply text-3xl;
    @apply tracking-widest;
  }
  input {
    @applybg-blue-100:;
    @applyborder-2:;
    @applyborder-blue-500:;
    @applytext-indigo-900:;
    border: 1px solid black;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 0px 30px;
}

}

button {
  @applyshadow-xl:;
  background-color: #ced4da;
  margin-left: 20px;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  -o-border-radius: 90px;
  border: .5px solid rgb(0, 0, 0, 30%);
  padding: 15px 20px;
}


button:hover{
  color: rgb(62, 57, 57);
  opacity: 95%;
}

.input-field{
  padding: 15px 30px;
}

.rolename{
  font-size: 50px;
  font-weight: 700;
  margin-top: -5%;
  padding-left: 4%;
  color:red;
}

.rolename2{
  font-size: 50px;
  font-weight: 700;
  margin-top: -5%;
  padding-left: 3%;
  color: red;
}

.Red-check{
  color: red;
}

.Blue-check{
  color: green;
}

.content> div >div > h1 {
  font-weight: 700;
}

.navbar .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  border-radius: 15px;
  background-color: #3a86ff;
  transition: all 0.2s ease;
}

.navbar .tab-item:hover {
  opacity: 0.8;
}

.tab-item.selected {
  opacity: 0.7;
}

.batches .batch-ins{
  cursor: pointer;
}

.batches .batch-ins:hover{
color: #3a86ff;
}

.batches .uninspected >div{
  cursor: pointer;
}

.batches .uninspected >div:hover{
  color: #3a86ff;

}